<html>
  <head>
    <meta charset='utf-8'>
    <title>A Postcard For You!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Hi I am @Model.NameOne .</h1>
    <p>I am a @Model.NounOne at Epicodus. I @Model.VerbOne programming and @Model.VerbTwo about different languages. Today, I met @Model.NameTwo, They were so @Model.AdjectiveOne to me. Thankfully, @Model.NameThree came and helped faciliate our pair-programming. Tomorrow is Show-and-Tell, I plan to bring a @Model.NounTwo. It is in this way I hope people will start to @Model.AdjectiveTwo my Linkedin!</p>
  </body>
</html>